<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dongnao.workbench.account.dao.FixedAssetMapper">
	<resultMap id="BaseResultMap" type="com.dongnao.workbench.account.model.FixedAsset">
		<id column="id" property="id" jdbcType="VARCHAR" />
				<result column="asset_no" property="assetNo" jdbcType="VARCHAR" />
				<result column="enter_date" property="enterDate" jdbcType="TIMESTAMP" />
				<result column="add_type" property="addType" jdbcType="VARCHAR" />
				<result column="asset_name" property="assetName" jdbcType="VARCHAR" />
				<result column="asset_type" property="assetType" jdbcType="VARCHAR" />
				<result column="model" property="model" jdbcType="VARCHAR" />
				<result column="begin_date" property="beginDate" jdbcType="TIMESTAMP" />
				<result column="use_org" property="useOrg" jdbcType="VARCHAR" />
				<result column="apply_name" property="applyName" jdbcType="VARCHAR" />
				<result column="depre_method" property="depreMethod" jdbcType="VARCHAR" />
				<result column="is_deprenow" property="isDeprenow" jdbcType="VARCHAR" />
				<result column="ljzj_subject" property="ljzjSubject" jdbcType="VARCHAR" />
				<result column="zjfy_subject" property="zjfySubject" jdbcType="VARCHAR" />
				<result column="zichan_clear" property="zichanClear" jdbcType="VARCHAR" />
				<result column="initial_value" property="initialValue" jdbcType="DOUBLE" />
				<result column="remain_ratio" property="remainRatio" jdbcType="INTEGER" />
				<result column="remain_value" property="remainValue" jdbcType="DOUBLE" />
				<result column="use_period" property="usePeriod" jdbcType="INTEGER" />
				<result column="depred_month" property="depredMonth" jdbcType="INTEGER" />
				<result column="remain_use_month" property="remainUseMonth" jdbcType="INTEGER" />
				<result column="used_depre" property="usedDepre" jdbcType="DOUBLE" />
				<result column="currdate" property="currdate" jdbcType="TIMESTAMP" />
				<result column="per_depred" property="perDepred" jdbcType="DOUBLE" />
			</resultMap>
	<sql id="Base_Column_List">
						 	id
							,asset_no
							,enter_date
							,add_type
							,asset_name
							,asset_type
							,model
							,begin_date
							,use_org
							,apply_name
							,depre_method
							,is_deprenow
							,ljzj_subject
							,zjfy_subject
							,zichan_clear
							,initial_value
							,remain_ratio
							,remain_value
							,use_period
							,depred_month
							,remain_use_month
							,used_depre
							,currdate
							,per_depred
					</sql>
	
	<select id="getByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
			fa.id,
			fa.asset_no,
			fa.enter_date,
			fa.add_type,
			fa.asset_name,
			fa.asset_type,
			fa.model,
			fa.begin_date,
			bo.org_name as use_org,
			e.nick_name as apply_name,
			fa.depre_method,
			fa.is_deprenow,
			fa.ljzj_subject,
			fa.zjfy_subject,
			fa.zichan_clear,
			fa.initial_value,
			fa.remain_ratio,
			fa.remain_value,
			fa.use_period,
			fa.depred_month,
			fa.remain_use_month,
			fa.used_depre,
			fa.currdate,
			fa.per_depred
		from fixed_asset as fa
		LEFT JOIN employee e ON e.id = fa.apply_name
		LEFT join basic_org bo on e.dept_no = bo.org_no
		where fa.id = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="listByCondition" resultMap="BaseResultMap" parameterType="com.dongnao.workbench.account.model.FixedAsset">
		select
			fa.id,
			fa.asset_no,
			fa.enter_date,
			fa.add_type,
			fa.asset_name,
			fa.asset_type,
			fa.model,
			fa.begin_date,
			bo.org_name as use_org,
			e.nick_name as apply_name,
			fa.depre_method,
			fa.is_deprenow,
			fa.ljzj_subject,
			fa.zjfy_subject,
			fa.zichan_clear,
			fa.initial_value,
			fa.remain_ratio,
			fa.remain_value,
			fa.use_period,
			fa.depred_month,
			fa.remain_use_month,
			fa.used_depre,
			fa.currdate,
			fa.per_depred
		from fixed_asset as fa
		LEFT JOIN employee e ON e.id = fa.apply_name
		LEFT join basic_org bo on e.dept_no = bo.org_no
		where 1=1
		<if test="id != null and '' != id">  
			and fa.id = #{id,jdbcType=VARCHAR}
		</if>
		<if test="assetNo != null and '' != assetNo">  
			and fa.asset_no = #{assetNo,jdbcType=VARCHAR}
		</if>
		<if test="enterDate != null and '' != enterDate">  
			and fa.enter_date = #{enterDate,jdbcType=TIMESTAMP}
		</if>
		<if test="addType != null and '' != addType">  
			and fa.add_type = #{addType,jdbcType=VARCHAR}
		</if>
		<if test="assetName != null and '' != assetName">  
			and fa.asset_name = #{assetName,jdbcType=VARCHAR}
		</if>
		<if test="assetType != null and '' != assetType">  
			and fa.asset_type = #{assetType,jdbcType=VARCHAR}
		</if>
		<if test="model != null and '' != model">  
			and fa.model = #{model,jdbcType=VARCHAR}
		</if>
		<if test="beginDate != null and '' != beginDate">  
			and fa.begin_date = #{beginDate,jdbcType=TIMESTAMP}
		</if>
		<if test="useOrg != null and '' != useOrg">  
			and e.dept = #{useOrg,jdbcType=VARCHAR}
		</if>
		<if test="applyName != null and '' != applyName">  
			and e.nick_name = #{applyName,jdbcType=VARCHAR}
		</if>
		<if test="depreMethod != null and '' != depreMethod">  
			and fa.depre_method = #{depreMethod,jdbcType=VARCHAR}
		</if>
		<if test="isDeprenow != null and '' != isDeprenow">  
			and fa.is_deprenow = #{isDeprenow,jdbcType=VARCHAR}
		</if>
		<if test="ljzjSubject != null and '' != ljzjSubject">  
			and fa.ljzj_subject = #{ljzjSubject,jdbcType=VARCHAR}
		</if>
		<if test="zjfySubject != null and '' != zjfySubject">  
			and fa.zjfy_subject = #{zjfySubject,jdbcType=VARCHAR}
		</if>
		<if test="zichanClear != null and '' != zichanClear">  
			and fa.zichan_clear = #{zichanClear,jdbcType=VARCHAR}
		</if>
		<if test="initialValue != null and '' != initialValue">  
			and fa.initial_value = #{initialValue,jdbcType=DOUBLE}
		</if>
		<if test="remainRatio != null and '' != remainRatio">  
			and fa.remain_ratio = #{remainRatio,jdbcType=INTEGER}
		</if>
		<if test="remainValue != null and '' != remainValue">  
			and fa.remain_value = #{remainValue,jdbcType=DOUBLE}
		</if>
		<if test="usePeriod != null and '' != usePeriod">  
			and fa.use_period = #{usePeriod,jdbcType=INTEGER}
		</if>
		<if test="depredMonth != null and '' != depredMonth">  
			and fa.depred_month = #{depredMonth,jdbcType=INTEGER}
		</if>
		<if test="remainUseMonth != null and '' != remainUseMonth">  
			and fa.remain_use_month = #{remainUseMonth,jdbcType=INTEGER}
		</if>
		<if test="usedDepre != null and '' != usedDepre">  
			and fa.used_depre = #{usedDepre,jdbcType=DOUBLE}
		</if>
		<if test="currdate != null and '' != currdate">  
			and fa.currdate = #{currdate,jdbcType=TIMESTAMP}
		</if>
		<if test="perDepred != null and '' != perDepred">  
			and fa.per_depred = #{perDepred,jdbcType=DOUBLE}
		</if>
				<if test="orderFields != null and '' != orderFields">  
           	order by ${orderFields} ${order}
         	</if>
	</select>
	
	<delete id="deleteByKey" parameterType="java.lang.String">
		delete from fixed_asset
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	
	<insert id="add" parameterType="com.dongnao.workbench.account.model.FixedAsset">
		insert into fixed_asset (
		<include refid="Base_Column_List" />
		)values (
										#{id,jdbcType=VARCHAR}
														,#{assetNo,jdbcType=VARCHAR}
														,#{enterDate,jdbcType=TIMESTAMP}
														,#{addType,jdbcType=VARCHAR}
														,#{assetName,jdbcType=VARCHAR}
														,#{assetType,jdbcType=VARCHAR}
														,#{model,jdbcType=VARCHAR}
														,#{beginDate,jdbcType=TIMESTAMP}
														,#{useOrg,jdbcType=VARCHAR}
														,#{applyName,jdbcType=VARCHAR}
														,#{depreMethod,jdbcType=VARCHAR}
														,#{isDeprenow,jdbcType=VARCHAR}
														,#{ljzjSubject,jdbcType=VARCHAR}
														,#{zjfySubject,jdbcType=VARCHAR}
														,#{zichanClear,jdbcType=VARCHAR}
														,#{initialValue,jdbcType=DOUBLE}
														,#{remainRatio,jdbcType=INTEGER}
														,#{remainValue,jdbcType=DOUBLE}
														,#{usePeriod,jdbcType=INTEGER}
														,#{depredMonth,jdbcType=INTEGER}
														,#{remainUseMonth,jdbcType=INTEGER}
														,#{usedDepre,jdbcType=DOUBLE}
														,#{currdate,jdbcType=TIMESTAMP}
														,#{perDepred,jdbcType=DOUBLE}
									)
	</insert>
	
	<update id="update" parameterType="com.dongnao.workbench.account.model.FixedAsset">
		update fixed_asset  set
		ID= #{id,jdbcType=VARCHAR}
													,asset_no = #{assetNo,jdbcType=VARCHAR}
											,enter_date = #{enterDate,jdbcType=TIMESTAMP}
											,add_type = #{addType,jdbcType=VARCHAR}
											,asset_name = #{assetName,jdbcType=VARCHAR}
											,asset_type = #{assetType,jdbcType=VARCHAR}
											,model = #{model,jdbcType=VARCHAR}
											,begin_date = #{beginDate,jdbcType=TIMESTAMP}
											,use_org = #{useOrg,jdbcType=VARCHAR}
											,apply_name = #{applyName,jdbcType=VARCHAR}
											,depre_method = #{depreMethod,jdbcType=VARCHAR}
											,is_deprenow = #{isDeprenow,jdbcType=VARCHAR}
											,ljzj_subject = #{ljzjSubject,jdbcType=VARCHAR}
											,zjfy_subject = #{zjfySubject,jdbcType=VARCHAR}
											,zichan_clear = #{zichanClear,jdbcType=VARCHAR}
											,initial_value = #{initialValue,jdbcType=DOUBLE}
											,remain_ratio = #{remainRatio,jdbcType=INTEGER}
											,remain_value = #{remainValue,jdbcType=DOUBLE}
											,use_period = #{usePeriod,jdbcType=INTEGER}
											,depred_month = #{depredMonth,jdbcType=INTEGER}
											,remain_use_month = #{remainUseMonth,jdbcType=INTEGER}
											,used_depre = #{usedDepre,jdbcType=DOUBLE}
											,currdate = #{currdate,jdbcType=TIMESTAMP}
											,per_depred = #{perDepred,jdbcType=DOUBLE}
							where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>
